<form #login="ngForm">
    <div class="modal-content">
        <div class="modal-header">
            <img id="logo" src="https://i.ibb.co/n8Hm2Hc/Beenthere-final.png" width="200" height="50" alt="Beenthere-final">
            <img id="subLogo" src="https://i.ibb.co/yq8mYgJ/pin.png" width="30" height="30" class="d-inline-block align-top" alt="">
        
        </div>
        <div class="container">
            <input type="text" [(ngModel)]="user.userId" class="form-control" placeholder="Username" id="userId" name="userId" required>
            <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" id="password" name="password" required>
        </div>
        <div class="modal-footer">
            <form (ngSubmit)="openRegisterModal()">
                <button type="submit" class="btn btn-success">Create Account</button>
            </form>
            <form (ngSubmit)="userLogin(login)">
                <button [disabled]="login.invalid" type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>  
    </div>
</form>
