<div class="modal-content">
    <div class="modal-header text-center d-block">
        <h4 class="modal-title d-inline-block">Edit Pin for "My Trip to {{pin.name}}"</h4>
    </div>
    <div class="form-group">
        <label>Trip Title: </label>
        <input type="text" class="form-control" placeholder="What was the occassion for this trip?" id="title" name="title" [(ngModel)]="pin.title">
        <form class="form-inline">
            <label>Departure Date: </label>
            <input type="date" class="form-control w-25" id="depart" name="depart" [(ngModel)]="pin.departDate">
            <label>Return Date: </label>
            <input type="date" class="form-control w-25" id="return" name="return" [(ngModel)]="pin.returnDate">
        </form>
        <label>Trip Log: </label>
        <textarea class="form-control" placeholder='What did you do there?' rows='5' cols='15' id="log" name="log" [(ngModel)]="pin.log"></textarea>
        <label>Photos: </label>
        <input type="text" class="form-control" placeholder="Paste image URL here" id="imageUrl1" name="imageUrl1" [(ngModel)]="pin.imageUrl1">
        <input type="text" class="form-control" placeholder="Paste image URL here" id="imageUrl2" name="imageUrl2" [(ngModel)]="pin.imageUrl2">
        <input type="text" class="form-control" placeholder="Paste image URL here" id="imageUrl3" name="imageUrl3" [(ngModel)]="pin.imageUrl3">
        <input type="text" class="form-control" placeholder="Paste image URL here" id="imageUrl4" name="imageUrl4" [(ngModel)]="pin.imageUrl4">
        <input type="text" class="form-control" placeholder="Paste image URL here" id="imageUrl5" name="imageUrl5" [(ngModel)]="pin.imageUrl5">    </div>
    <div class="modal-footer">
        <form (ngSubmit)="pinUpdate()">
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        <button type="button" class="btn btn-warning" (click)="modalService.dismiss('Cross click')">Close</button>
    </div>
 </div>

