.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}

.form-control {
    margin: 20px;
    width: 95%;
}

textarea {
    margin: 20px;
    width: 95%;
  }

label {
    margin-top: 30px;
    margin-bottom: 30px;
}