.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}

.form-control {
    margin: 20px;
    width: 95%;
}

textarea {
    margin: 20px;
    width: 95%;
  }

img {
    height: 500px;
    width: 100%;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
 }

img[src=""] {
    display: none;
}

.blue {
    padding-top: 20px;
    color: #337AB7;
    padding-left: 15px;
}

h6 {
    padding-left: 15px;
}