.full {
    width: auto;
    height: 92vh;
}

.navbar {
    background-color: #00ABE4;
    padding-left: 10px;
    padding-right: 15px;
}

.navbar-brand {
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

.form-control {
    width:450px;
    margin-left: 50px;
}

li{
    margin-top: 10px;
}

#logo {
position: absolute;
float: left;
}

#subLogo {
    position: absolute;
    left: 215px;
}

#searchbar {
    position: center;
}