<nav class="navbar navbar-dark">
  <a class="navbar-brand h1">
      <img src="https://img.icons8.com/tiny-color/32/null/map-pin.png" width="30" height="30" class="d-inline-block align-top" alt="">
      BeenThere</a>

      <div class="dropdown">
        <button id="dropbutton">See What Others Are Saying!</button>
        <div class="dropdown_links">
          <a href="#" class="commentLinks" id="viewC" onclick="document.getElementById('viewComments').style.height = '525px'; document.getElementById('viewComments').style.width = '250px'; document.getElementById('postComment').style.height = '0px'; document.getElementById('postComment').style.width = '0px'">View Comments</a>

          <a href="#" class="commentLinks" id="postC" onclick="document.getElementById('postComment').style.height = '525px'; document.getElementById('postComment').style.width = '250px'; document.getElementById('viewComments').style.height = '0px'; document.getElementById('viewComments').style.width = '0'">Leave a Comment</a>

          <a href="#" class="commentLinks" id="sendEmail">Send an E-mail</a>
        </div>
      </div>

  <form class="form-inline">
    <input class="form-control" id="pac-input" type="search" placeholder="Search for Location to Pin" aria-label="Search">
  </form>
</nav>

<aside id="postComment">

  <form id="commentForm">
    <label for="name"></label><br>
    <input class="commentInput" id="name" placeholder="Enter name here." required><br>
    <label for="email"></label><br>
    <input class="commentInput" id="email" placeholder="name@example.com" required><br>
    <label for="textComments"></label><br>
    <textarea id="textComments" style="resize:none" minlength="2" maxlength="250" placeholder="Leave a message for {User}" required></textarea>

    <button id="postComments" class="commentBtn" type="button" onclick="document.getElementById('comment1name').innerHTML = document.getElementById('name').value; document.getElementById('comment1email').innerHTML = '(' + document.getElementById('email').value + ')' + '   says:'; document.getElementById('comment1text').innerHTML = '*' + document.querySelector('textarea').value + '*'; document.getElementById('postComment').style.height = '0px'; document.getElementById('postComment').style.width = '0px'; document.getElementById('viewComments').style.height = '525px'; document.getElementById('viewComments').style.width = '250px'; document.getElementById('name').value = ''; document.getElementById('email').value = ''; document.querySelector('textarea').value = '' ">Post Comment</button><br>

    <button id="resetComments" class="commentBtn" type="reset">Reset Form</button><br>

    <button id="exitComments" class="commentBtn" type="button" onclick="document.getElementById('postComment').style.height = '0px'; document.getElementById('postComment').style.width = '0px'; document.getElementById('viewComments').style.height = '525px'; document.getElementById('viewComments').style.width = '250px'">View Comments</button><br>

    <button id="exitForm" class="commentBtn" type="button" onclick="document.getElementById('postComment').style.height = '0'; document.getElementById('postComment').style.width = '0'">Exit Form</button>
    
  </form>

</aside>

<aside id="viewComments">
  
  <div class="commentDiv" id="comment1">
      <span id="comment1name"></span><br>
      <span id="comment1email"></span><br>
      <div class="innerCommentDiv">
      <span id="comment1text">Be the first to leave a comment!</span>
      </div>
  </div>
  
  <button id="hideComments" class="commentBtn" onclick="document.getElementById('viewComments').style.height = '0px'; document.getElementById('viewComments').style.width = '0'">Hide Comments</button>

  <button id="toLeaveComments" class="commentBtn" onclick="document.getElementById('viewComments').style.height = '0px'; document.getElementById('viewComments').style.width = '0'; document.getElementById('postComment').style.height = '525px'; document.getElementById('postComment').style.width = '250px'">Leave a Comment</button>



</aside>

<div class="full" id="map"></div>
