<div class="modal-content">
    <div class="modal-header text-center d-block">
        <h4 class="modal-title d-inline-block">Edit Pin for "My Trip to {{pin.name}}"</h4>
    </div>
    <div class="form-group">
        <label>Trip Title</label>
        <input type="text" class="form-control" placeholder="What was the occassion for this trip?" id="title" name="title" [(ngModel)]="pin.title">
        <form class="form-inline">
            <label>Departure Date</label>
            <input type="date" class="form-control w-25" id="depart" name="depart" [(ngModel)]="pin.departDate">
            <label>Return Date Date</label>
            <input type="date" class="form-control w-25" id="return" name="return" [(ngModel)]="pin.returnDate">
        </form>
        <label>Trip Log</label>
        <textarea class="form-control" placeholder='What did you do there?' rows='5' cols='15' id="log" name="log" [(ngModel)]="pin.log"></textarea>
        <label>Photos</label>
        <input type="file" class="form-control">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalService.dismiss('Cross click')">Close</button>
        <form (ngSubmit)="pinSave()">
            <button type="submit" class="btn btn-success">Save Pin</button>
        </form>
    </div>
 </div>


