<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">My Trip to {{data}}</h4>
    </div>
    <input type="text" class="form-control" placeholder="What was the occassion for this trip?">
    <input type="date" class="form-control w-25">
    <input type="date" class="form-control w-25">
    <textarea class="form-control" placeholder='What did you do there?' rows='10' cols='15'></textarea>
    <input type="file" class="form-control" >
    <div class="modal-footer">
        <!-- <form (ngSubmit)="pinDataSave()">
            <button type="submit" class="btn btn-success">Save</button>
        </form> -->
        <button type="button" class="btn btn-warning" (click)="modalService.dismiss('Cross click')">Close</button>
    </div>
 </div>


