<form #register="ngForm">   
    <div class="modal-content">
        <div class="modal-header">
            <h4>Create a New Account</h4>
        </div>
        <div class="container">
            <input type="text" [(ngModel)]="user.userId" class="form-control" placeholder="Username" id="userId" name="userId" required>
            <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" id="password" name="password" required>
        </div>
        <div class="modal-footer">
            <form (ngSubmit)="userRegister()">
                <button [disabled]="register.invalid" type="submit" class="btn btn-success">Create Account</button>
            </form>
            <button type="button" class="btn btn-warning" (click)="modalService.dismiss('Cross click')">Close</button>
        </div>  
    </div>
</form> 









